<h2>All our post</h2>
<br>
<% @post.each do |post| %>
  <div class="card">
    <h3 class="card-title"><%= post.title %></h3>
    <p class="card-text"><%= post.body %></p>
    <span href="#" class="card-link">
      <%= link_to "Read all", post_path(post), :class => 'btn btn-outline-primary' %>
    </span>
  </div>
  <br>
<% end %>